mkdir -p .devenv/state/

# Configuration
printf "{ \"PWD\": \"$PWD\" }" \
       > .devenv/state/env

use flake . --override-input env path:$(realpath $(git rev-parse --show-toplevel)/.devenv/state/env) --quiet --quiet --no-warn-dirty
